body {
    
    background-color:aqua;
}

h1 {
    text-align-last: center;
    color:brown
}

h2 {
    text-align-last: center;
    
}

p {
    color: brown;
}

footer {
    text-align: left;
    color:black;
    background-color: skyblue;
}