 body {
     padding-top: 64px;
     background-color: black;
     max-width: 500px;
     margin: auto;
     padding-bottom: 64px;
 }

 .title {
     text-align: center;
     height: 67px;
     padding-top: 1%;
     background-color: indianred;
     color: white;
 }

 .container {

     padding: 5%;
     background-color: aqua;
     color: black;
     max-width: 500px;
     margin: auto;
 }
